django==4.1.*

google-auth-oauthlib
requests

whitenoise[brotli]

# gevent required for celery and gunicorn
# gunicorn

# heroku, deprecated
# django-heroku

# production server
daphne

# daphne http2 and tsl and https
Twisted[tls,http2]
pyopenssl

#
dj-database-url
psycopg2