django==4.2.*

google-auth-oauthlib
requests

whitenoise[brotli]

# production server
daphne
gunicorn

# daphne http2 and tsl and https
Twisted[tls,http2]
pyopenssl

# CSP headers in template
django-csp

# CORS http headers
django-cors-headers

# data base client
dj-database-url

# sudo apt-get install libpq-dev
# psycopg2
psycopg==3.*

# check for vulnerability
pip-audit

