django==3.*

google-auth-oauthlib
requests

whitenoise[brotli]


# gevent required for celery and gunicorn
gunicorn

# psycopg2 with Greenlet threads
# psycogreen
# django-db-geventpool

# heroku
django-heroku

