django==4.1.*

google-auth-oauthlib
requests

whitenoise[brotli]

# compress and compile static files
# django_compressor

# psycopg2 with Greenlet threads
# psycogreen
# django-db-geventpool

# development
django-extensions

# ssl, run python locally with HTTPS
pyOpenSSL
Werkzeug

# production server
daphne
gunicorn

# daphne http2 and tsl and https
Twisted[tls,http2]
pyopenssl

# CSP headers in template
django-csp

# data base client
dj-database-url

# sudo apt-get install libpq-dev
psycopg2

# check for vulnerability
pip-audit