django==2.*

google-auth-oauthlib
requests

whitenoise[brotli]
django-compressor

# gevent required for celery and gunicorn
gunicorn[gevent]

# psycopg2 with Greenlet threads
psycogreen
django-db-geventpool

# heroku
django-heroku

