django==4.1.*

google-auth-oauthlib
requests

whitenoise[brotli]

# compress and compile static files
# django_compressor

# psycopg2 with Greenlet threads
# psycogreen
# django-db-geventpool

# heroku
# django-heroku

# development
django-extensions

# ssl, run python locally with HTTPS
pyOpenSSL
Werkzeug

# production server
daphne
gunicorn

# daphne http2 and tsl and https
Twisted[tls,http2]
pyopenssl