{% load i18n static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Sending emails to user in Python</title>

</head>

<body>

<h3>Hello {{ user }} from {{ request.site }}</h3>

<p>You requested email to verify your email</p>

<p>Click the link below please to verify your email</p>

{% autoescape off %}
{% if debug %}

    <a href="http://
            {{ request.site }}{% url 'email_verify' uidb64=uid token=token %}">{% trans 'click me for verifing your email' %}</a>

{% else %}

    <a href="https://
            {{ request.site }}{% url 'email_verify' uidb64=uid token=token %}">{% trans 'click me for verifing your email' %}</a>

{% endif %}
{% endautoescape %}

</body>

</html>
