{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a verify email for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate "Please Follow the link:" %}
{% block reset_link %}
{#    TODO   #}
{{ protocol }}://{{ domain }}{% url 'email_verification_link' uidb64=uid token=token %}
{% endblock %}
{% translate 'In case you’ve forgotten, you are:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
