{% extends "flexart/base.html" %}
{% load static %}

{% block content %}
    <!-- inner page banner -->
    <section class="inner-page-banner">
        <div class="page-heading text-center">
            <h2>Projects Page</h2>
            <span class="section_1-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i> Home</a> <span>/ Projects page</span></span>
        </div>
    </section>
    <!-- //inner page banner -->
    <!--start-Projects-->
    <div class="Projects py-5">
        <div class="container py-sm-4">
            <div class="heading pb-4">
                <h3 class="heading mb-2 text-center"><span>Our </span> Projects </h3>
                <p class="para mb-5 text-center"></p>
            </div>
            <div class="row inner_w3l_agile_grids-1">
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m1.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m1.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m2.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m2.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m3.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m3.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m4.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m4.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m8.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m8.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m6.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m6.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m7.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m7.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m8.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m8.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m9.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m9.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m10.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m10.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m1.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m1.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 Projects-grid Projects1">
                    <a href="{% static "flexart/images/m5.jpg" %}" class="swipebox"><img
                            src="{% static "flexart/images/m5.jpg" %}" class="img-responsive" alt="/">
                        <div class="textbox">
                            <h4>Flex Art</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--//Projects-->
{% endblock %}