{% extends "flexart/base.html" %}
{% load static %}

{#<!-- //header -->#}
{% block content %}
    <!-- inner page banner -->
    <section class="inner-page-banner">
        <div class="page-heading text-center">
            <h2>Team Page</h2>
            <span class="section_1-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i> Home</a> <span>/ Team</span></span>
        </div>
    </section>
    <!-- //inner page banner -->

    <!-- team -->
    <section id="myteam" class="team py-5">
        <div class="container py-md-5">
            <div class="heading pb-4">
                <h3 class="heading mb-2 text-center"><span>Our </span> Team </h3>
                <p class="para mb-5 text-center"></p>
            </div>
            <div class="row team-row">
                <div class="col-md-4 col-sm-6 team-wrap">
                    <div class="team-member text-center">
                        <div class="team-img">
                            <img src="{% static "flexart/images/team1.jpg" %}" alt="">
                            <div class="overlay-team">
                                <div class="team-details text-center">
                                    <div class="socials mt-20">
                                        {% comment %}<a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>{% endcomment %}
                                        <a href="https://www.linkedin.com/in/mahdi-hamze-459b45194">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="team-title">Mahdi Hamzeh</h6>
                        <span> Django web developer & devOps </span>
                    </div>
                </div>
                <!-- end team member -->

                {% comment %}
                    <div class="col-md-4 col-sm-6 mt-sm-0 mt-5 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="{% static "flexart/images/team2.jpg" %}" alt="">
                                <div class="overlay-team">
                                    <div class="team-details text-center">
                                        <div class="socials mt-20">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="team-title">Aunto Apu</h6>
                            <span>android devloper</span>
                        </div>
                    </div>
                    <!-- end team member -->

                    <div class="col-md-4 col-sm-6 mt-md-0 mt-5 team-wrap">
                        <div class="team-member last text-center">
                            <div class="team-img">
                                <img src="{% static "flexart/images/team3.jpg" %}" alt="">
                                <div class="overlay-team">
                                    <div class="team-details text-center">
                                        <div class="socials mt-20">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="team-title">Jagir Alam</h6>
                            <span>Software engineer </span>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-md-4 col-sm-6 mt-5 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="{% static "flexart/images/team4.jpg" %}" alt="">
                                <div class="overlay-team">
                                    <div class="team-details text-center">
                                        <div class="socials mt-20">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="team-title">Mustakim </h6>
                            <span>web devloper</span>
                        </div>
                    </div>
                    <!-- end team member -->

                    <div class="col-md-4 col-sm-6 mt-5 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="{% static "flexart/images/team5.jpg" %}" alt="">
                                <div class="overlay-team">
                                    <div class="team-details text-center">
                                        <div class="socials mt-20">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="team-title">Aunto Apu</h6>
                            <span>android devloper</span>
                        </div>
                    </div>
                    <!-- end team member -->

                    <div class="col-md-4 col-sm-6 mt-5 team-wrap">
                        <div class="team-member last text-center">
                            <div class="team-img">
                                <img src="{% static "flexart/images/team6.jpg" %}" alt="">
                                <div class="overlay-team">
                                    <div class="team-details text-center">
                                        <div class="socials mt-20">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="team-title">Jagir Alam</h6>
                            <span>Software engineer </span>
                        </div>
                    </div>
                    <!-- end team member -->{% endcomment %}
            </div>
        </div>
    </section>
    <!-- //team -->
{% endblock %}